.gitignore
News_Headlines.csv
PyWhatKit_DB.txt
README.md
build
cronjob_crontab.py
dist
foo.pdf
foo.zip
foo2.csv
headless_news.csv
news_automation_1.py
news_automation_everyday_3.py
news_automation_everyday_3.spec
news_automation_headless_2.py
requirements.txt
start.ipynb
subprocess_automation_daily.py
whatsapp_automate.spec
whatsapp_automation/
__pycache__/
*.pyc
myenv/
venv/
build/
dist/
*.spec
*.exe
*.zip
.git/
